<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188052013409-f2g02rg129e0oi2tml7dk753cp0p6j23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188052013409-f2g02rg129e0oi2tml7dk753cp0p6j23</string>
	<key>API_KEY</key>
	<string>AIzaSyAa25Zqd8YUOJf-PLfklZlM544_i0SBe9A</string>
	<key>GCM_SENDER_ID</key>
	<string>188052013409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.NavigationNetology</string>
	<key>PROJECT_ID</key>
	<string>netologynavigation-76365</string>
	<key>STORAGE_BUCKET</key>
	<string>netologynavigation-76365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188052013409:ios:711a145edb8ec887c7c520</string>
</dict>
</plist>